@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");

* {
    font-family: "Hanken Grotesk", sans-serif;
}

h2, h3, h4 {
    padding-top: 16px;
    text-align: center;
}

body {
    background-color: #c1ccca;
}

canvas {
    max-width: 860px;
    max-height: 860px;
}

.table-container {
    margin: 12px;
    overflow: auto;
}